<div id="MyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-header">
          <h3> Contact Company </h3>
        </div>
        <div class="modal-body">
          <%= form_tag send_email_company_path do %>
          <%= label_tag :Name %>
          <%= text_field_tag :user_name, nil, :class => "form-control inputdefault"%>
          <br />
          <br />
          <%= label_tag :Email %>
          <%= email_field_tag :user_email, nil, :class => "form-control inputdefault" %> 
          <br />
          <br />
          <%= label_tag :Question %>
          <%= text_area_tag :user_question, nil, {rows: 6, cols: 25, :class => "form-control inputdefault"} %> 
          <br />
          <br />
          <%= submit_tag "Contact", {:class => "btn btn-success"} %>
        <% end %>
      </div>
    </div>
  </div> 
</div>