<h3> Company Detail </h3>
<br />



  <% if !company_signed_in? && !admin_signed_in? %>  
    <button type="button" data-toggle="modal" data-target="#MyModal" class="btn btn-success contact_company" >Contact Company</button> 
  <% end %>
  <%= render 'contact_form' %>


<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email: </strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone: </strong>
  <%= @company.phone %>
</p>

<p>
 <strong>Description:</strong>
 <%= @company.description %>
</p>

<br />

<% if can? :edit, @company  %>
  <%= button_to 'Edit', edit_company_path(@company), {method: :get, :class => "btn btn-success company_edit_button"} %> 
<% end %>
<% if can? :destroy, @company  %>
  <%= link_to 'Delete', company_path(@company), method: :delete %> 
<% end %>

<%= link_to 'Back', companies_path %>

<br />
<br />

<% unless @company.industries.blank? %>
  <h3> Industries </h3>
  <br />
  <ul>
    <% @company.industries.each do |industry| %>
      <li>
      <%= industry.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<br />

<% unless @company.products.blank? %>
  <h3> Products </h3>
  <br />
  <% @company.products.each do |product| %>
    <span id="product_image">
    <%= image_tag product.product_image.url(:thumb), {:class => "product_images"} %>
    </span>
  <% end %>
  <br />
<% end %>
